#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_input high openstreetmap-mapnik-carto-stylesheet-data/dloadcoastlines || true
db_go || true

cat <<EOF > /etc/default/openstreetmap-mapnik-carto-stylesheet-data
# Default settings for openstreetmap-mapnik-carto-data
INIT_DB="$INIT_DB"
GRANT_USER="$GRANT_USER"
EOF

